################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/XiaoZhiSharp_ConsoleApp/obj
/.vs/XiaoZhiSharp/CopilotIndices/0.2.1634.3922
/.vs/XiaoZhiSharp
/XiaoZhiSharp/obj
/XiaoZhiSharp
/XiaoZhiSharp_ConsoleApp/bin/Debug/net8.0
/XiaoZhiSharp_ConsoleApp/bin/Release/net8.0
/XiaoZhiSharp_ConsoleApp/Properties/PublishProfiles
