@page "/"
@implements IDisposable
@inject XiaoZhi_AgentService XiaoZhiAgent

@XiaoZhiAgent.QuestionMessae <br/>
@XiaoZhiAgent.AnswerMessae

<Search Placeholder="" @bind-Value="@txtValue" AllowClear EnterButton="@("发送")" OnSearch="SendText" OnPressEnter="SendText" Size="InputSize.Large" />


<Button Type="ButtonType.Primary" Shape="ButtonShape.Circle" Size="ButtonSize.Large" Style="zoom:3.0;" OnClick='() => { XiaoZhiAgent.Agent.StartRecording(); }'>录音</Button>

<Button Type="ButtonType.Primary" Shape="ButtonShape.Circle" Size="ButtonSize.Large" Style="zoom:3.0;" OnClick='() => { XiaoZhiAgent.Agent.StopRecording(); }'>停止</Button>

<Button Type="ButtonType.Primary" Shape="ButtonShape.Circle" Size="ButtonSize.Large" Style="zoom:3.0;" OnClick='() => { XiaoZhiAgent.Agent.ChatAbort(); }'>打断</Button>



@code{
    private string txtValue = string.Empty;
    private System.Timers.Timer _timer = new System.Timers.Timer(1000) { Enabled = true };
    protected override async Task OnInitializedAsync()
    {
        _timer.Elapsed += Timer_Elapsed;
    }
    private async void Timer_Elapsed(object sender, EventArgs args)
    {
        await Task.Factory.StartNew(() =>
        {
            InvokeAsync(() => { StateHasChanged(); return Task.CompletedTask; });
        });
    }
    void IDisposable.Dispose()
    {
        _timer.Close();
    }

    async Task SendText()
    {
        if (!string.IsNullOrEmpty(txtValue))
        {
            await XiaoZhiAgent.Agent.ChatMessage(txtValue);
        }
    }

}