@inherits LayoutComponentBase

<div class="page">
    <main>
        @Body
    </main>
</div>

<link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet">
<script src="_content/AntDesign/js/ant-design-blazor.js"></script>
